<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key ="clientId" value = "mktrasapp01"/>
    <add key ="clientSecret" value = "Fsfvr5KartD8VzMM7zIQcQFDv0jVrCRZ/JjU2UmI1dI="/>
  </appSettings>
</configuration>